<div class="example-button-row">

  <button mat-raised-button (click)="openAddTaskDialog()" style="background:#b30055;" color="primary">
    <mat-icon style="padding-right: 5px;">add</mat-icon>
    <span>Add Task</span>
  </button>
  <button mat-raised-button (click)="removeTask()" style="background:#b30055;" color="primary">
    <mat-icon style="padding-right: 5px;">delete</mat-icon>
    <span>Remove Task</span>
  </button>
  <button mat-raised-button (click)="editTask()" style="background:#b30055;" color="primary">
    <mat-icon style="padding-right: 5px;">edit</mat-icon>
    <span>Edit Task</span>
  </button>
  <button mat-raised-button style="background:#b30055;" color="primary" (click)="openAddColumnDialog()">Add Columns</button>

</div>